<div class="main">

  <div class="">
    <div class="row">
      <div id="preheader" class="col-md-12">
        {{page.preheader}}
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <header id="site_header">
          {{page.header}}
        </header>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        {{ page.sidebar }}
      </div>
      <div class="col-md-8">
        {{ page.content }}
      </div>
    </div>
    <footer class="container-fluid">
        <div class="col-md-12">

          {{page.footer}}
        </div>
    </footer>
  </div>

</div>
